<!--HTML nuevo producto-->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title"> Nuevo Producto </h4>
          </div>
          <div class="card-body">
            <form #productoNew="ngForm" (ngSubmit)="onSubmit(productoNew)">
              <!--Listado de campos a ingresar-->
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="producto.nombre"
                      required>
                    <span *ngIf="!nombre.valid && nombre.touched">Nombre invalido</span>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Categoría" type="text" name="categoria" #categoria="ngModel"
                      [(ngModel)]="producto.categoria" requiered>
                    <span *ngIf="!categoria.valid && categoria.touched">Categoria invalida</span>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Precio" type="number" name="precio" #precio="ngModel" [(ngModel)]="producto.precio"
                      requiered>
                    <span *ngIf="!precio.valid && precio.touched">Precio invalido</span>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Descripción" type="textarea" name="description" #description="ngModel"
                      [(ngModel)]="producto.desciption">
                    <span *ngIf="!description.valid && description.touched"> Descripción invalida</span>
                  </mat-form-field>
                </div>
              </div>
              <div class=row>
                <div class="col-9"> </div>
                <div class="col-1">
                  <a [routerLink]="['/curso/curso-detail']">
                    <!--Boton para cancelar-->
                    <button mat-raised-button type="submit" class="btn btn-info btn-md pull-right">Cancelar</button>
                  </a>
                </div>
                <div class="col-2">
                  <a [routerLink]="['/curso/curso-detail']">
                    <!--Boton para guardar-->
                    <button mat-raised-button type="submit" class="btn btn-info btn-md pull-right" [disabled]="!productoNew.form.valid">Guardar</button>
                  </a>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>