<!--HTML nuevo alumno-->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Nuevo Alumno</h4>
          </div>
          <div class="card-body">
            <form>
              <!--Display datos a ingresar-->
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="RUN">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Contraseña" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Matricula" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Credito" type="number">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Código Carrera" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" type="email">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <!--Boton para subir archivos excel de carga "masiva"-->
                <div class="col-md-8"> Cargar por xlsx:
                  <button mat-raised-button class="btn btn-info" type="file">Archivo </button>
                </div>
              </div>
              <a [routerLink]="['/curso/curso-detail']">
                <!--Boton para guardar-->
                <button mat-raised-button type="submit" class="btn btn-info pull-right">Guardar</button>
              </a>
              <a [routerLink]="['/curso/curso-detail']">
                <!--Boton para cancelar-->
                <button mat-raised-button type="submit" class="btn btn-info pull-right">Cancelar</button>
              </a>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <!--Carta/tarjeta de perfil-->
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="./assets/img/generic-user-purple.png" />
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Alumno</h6>
            <h4 class="card-title">Nombre</h4>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Descripción" type="text">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>