<footer class="footer">
    <div class="container-fluid">
        <nav class="d-flex align-content-right">
            <ul>
                <li>
                    <a href="https://angular.io/">
                        Construido en Angular 6
                    </a>
                </li>
                <li>
                    <a href="http://dci.ufro.cl/">
                        Departamento Computación e Informática
                    </a>
                </li>
                <li>
                    <a>
                        <img src="https://img.icons8.com/color/24/000000/phone-office.png">
                        (56 45) 2 744219
                    </a>
                </li>
                <li>
                    <a href="mailto:dci@ufrontera.cl">
                        <img src="https://img.icons8.com/color/24/000000/filled-message.png">
                        dci@ufrontera.cl
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>