<!--HTML para listar profesores del sistema-->
<div class="main-content">
    <div class="container-fluid">
        <div class="alert alert-danger" *ngIf="profesores.length===0">No se registran profesores</div>
        <div class="row">
            <div *ngIf="!profesores || profesores.length>0">
                <div class="d-flex justify-content-center text-info" *ngIf="!profesores">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="navbar navbar-expand-sm navbar-light bg-info" *ngIf="profesores">
                        <h4>&nbsp;&nbsp;&nbsp;Profesores</h4>
                        <div style="text-align: right;width:880px">
                            <a [routerLink]="['profesor-new']">
                                <button type="button" class="btn btn-circle btn-white">➕</button>
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-info">
                                        <!--Información basica definida en la base de datos-->
                                        <th> Run </th>
                                        <th> Nombre </th>
                                        <th> Email </th>
                                        <th> Modificar </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let profesor of profesores">
                                            <td>EN MANTENIMIENTO</td>
                                            <td> {{profesor.nombre}} </td>
                                            <td> {{profesor.email}} </td>
                                            <td>
                                                <a [routerLink]="['profesor-edit']">
                                                    <!--Botón para modificar datos de un profesor-->
                                                    <button class="btn btn-link btn-xs">
                                                        <img src="https://img.icons8.com/color/24/000000/settings.png">
                                                    </button>
                                                </a>
                                                <a (click)="deleteProfesor(profesor.id)" [routerLink]="['/profesor']">
                                                    <button class="btn btn-danger btn-sm">X</button>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!profesores || profesores.length===0">
            <div style="text-align: right;width:470px">
                <a [routerLink]="['profesor-new']">
                    <button type="button" class="btn btn-circle btn-xl btn-info">➕</button>
                </a>
            </div>
        </div>
    </div>
</div>