<!--HTML nuevo curso-->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title"> Nuevo Curso </h4>
          </div>
          <div class="card-body">
            <form #cursoNew="ngForm" (ngSubmit)="onSubmit(cursoNew)">
              <!--Listado de campos a ingresar-->
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre" type=text name="nombre" #nombre="ngModel" [(ngModel)]="curso.nombre"
                      required>
                    <span *ngIf="!nombre.valid && nombre.touched"> Nombre invalido</span>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Codigo" type="text" name="codigo" #codigo="ngModel" [(ngModel)]="curso.codigo"
                      required>
                    <span *ngIf="!codigo.valid && codigo.touched">Codigo invalido</span>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Profesor" type="text" name="profesor">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Descripción" type="textarea">
                  </mat-form-field>
                </div>
              </div>
              <div class=row>
                <div class="col-9"> </div>
                <div class="col-1">
                  <a [routerLink]="['/curso']">
                    <!--Boton para cancelar-->
                    <button mat-raised-button type="submit" class="btn btn-info btn-md pull-right">Cancelar</button>
                  </a>
                </div>
                <div class="col-2">
                  <a [routerLink]="['/curso']">
                    <!--Boton para guardar-->
                    <button mat-raised-button type="submit" class="btn btn-info btn-md pull-right" [disabled]="!cursoNew.form.valid">Guardar</button>
                  </a>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>