<!--HTML para listar alumnos del sistema-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-info">
          <div class="row align-items-center">
            <div class="col-md-11">
              <h4 class="card-title">Alumnos</h4>
            </div>
            <div class="col-md-1">
              <!--Boton agregar nuevo(s) alumno(s)-->
              <a [routerLink]="['alumno-new']">
                <button type="button" class="btn btn-circle btn-white">➕</button>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="navbar-form ml-auto">
            <div class="input-group no-border">
              <!--Buscador de alumnos-->
              <input type="text" value="" class="form-control" placeholder="Buscar...">
              <button mat-raised-button type="submit" class="btn btn-info btn-round btn-just-icon">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
              </button>
            </div>
          </form>
          <div class="loading" *ngIf="!alumnos">
            <img src="./assets/img/gears.gif">
            Cargando...
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-info">
                <!--Elementos basicos a mostrar, definidos previamente-->
                <th> Run </th>
                <th> Nombre </th>
                <th> Email </th>
                <th>Matricula</th>
                <th>Credito</th>
                <th>Código Carrera</th>
                <th> Modificar </th>
              </thead>
              <tbody>
                <tr *ngFor="let alumno of alumnos">
                  <td> </td>
                  <td> {{alumno.nombre}} </td>
                  <td> {{alumno.email}} </td>
                  <td> {{alumno.matricula}} </td>
                  <td> {{alumno.credito} } </td>
                  <td> {{alumno.codigoCarrera}} </td>
                  <td>
                    <a [routerLink]="['alumno-edit']">
                      <!--Boton para modifcar alumno-->
                      <button class="btn btn-link btn-xs">
                        <img src="https://img.icons8.com/color/24/000000/settings.png">
                      </button>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>