<!--HTML detalle de curso-->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title"> Detalle Curso </h4>
          </div>
          <div class="card-body">
            <!--Listado información general del curso-->
            <form>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre" disabled>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Codigo" type="text" disabled>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Profesor" type="text" disabled>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Descripción" type="textarea" disabled>
                  </mat-form-field>
                </div>
              </div>
              <a [routerLink]="['curso-edit']">
                <!--Boton para editar curso-->
                <button mat-raised-button type="submit" class="btn btn-info pull-right">Editar Curso</button>
              </a>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
        <app-producto-list></app-producto-list>
        <app-alumno-list></app-alumno-list>
      </div>
    </div>
  </div>
</div>