<!--HTML nuevo profesor-->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Nuevo Profesor</h4>
          </div>
          <div class="card-body">
            <form name="profesorForm" [formGroup]="profesorForm">
              <!--Listado de campos a ingresar-->
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Run" formControlName="run">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Pass" formControlName="pass">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre" formControlName="nombre">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email">
                  </mat-form-field>
                </div>
              </div>
              <a [routerLink]="['/profesor']">
                <!--Boton para guardar-->
                <button mat-raised-button class="btn btn-info pull-right" (click)="onSubmit()">Guardar</button>
              </a>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>