<div class="main-content">
    <div class="container-fluid">
        <div class="navbar navbar-expand-sm navbar-light bg-light justify-content-center">
            <h4>CURSOS</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="curso1"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Curso 1</a>
                        </h4>
                        <p class="card-category">Cantidad de productos: n</p>
                        <p class="card-category">Profesor: Jaime Diaz</p>
                    </div>
                    <div class="card-footer">
                        <p>Cantidad de alumnos: n</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="curso2"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Curso 2</a>
                        </h4>
                        <p class="card-category">Cantidad de productos: n</p>
                        <p class="card-category">Profesor: Jaime Diaz</p>
                    </div>
                    <div class="card-footer">
                        <p>Cantidad de alumnos: n</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="curso3"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Curso 3</a>
                        </h4>
                        <p class="card-category">Cantidad de productos: n</p>
                        <p class="card-category">Profesor: Jaime Diaz</p>
                    </div>
                    <div class="card-footer">
                        <p>Cantidad de alumnos: n</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="curso4"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Curso 4</a>
                        </h4>
                        <p class="card-category">Cantidad de productos: n</p>
                        <p class="card-category">Profesor: Jaime Diaz</p>
                    </div>
                    <div class="card-footer">
                        <p>Cantidad de alumnos: n</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="curso5"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Curso 5</a>
                        </h4>
                        <p class="card-category">Cantidad de productos: n</p>
                        <p class="card-category">Profesor: Jaime Diaz</p>
                    </div>
                    <div class="card-footer">
                        <p>Cantidad de alumnos: n</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="curso6"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Curso 6</a>
                        </h4>
                        <p class="card-category">Cantidad de productos: n</p>
                        <p class="card-category">Profesor: Jaime Diaz</p>
                    </div>
                    <div class="card-footer">
                        <p>Cantidad de alumnos: n</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="curso7"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Curso 7</a>
                        </h4>
                        <p class="card-category">Cantidad de productos: n</p>
                        <p class="card-category">Profesor: Jaime Diaz</p>
                    </div>
                    <div class="card-footer">
                        <p>Cantidad de alumnos: n</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-info">
                        <div class="ct-chart" id="curso8"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Curso 8</a>
                        </h4>
                        <p class="card-category">Cantidad de productos: n</p>
                        <p class="card-category">Profesor: Jaime Diaz</p>
                    </div>
                    <div class="card-footer">
                        <p>Cantidad de alumnos: n</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-info float-right">Nuevo Curso</button>
</div>