<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Profesores</h4>
                    </div>
                    <div class="card-body">
                        <form class="navbar-form ml-auto">
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Buscar...">
                                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                    <i class="material-icons">search</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-info">
                                    <th>
                                        Run
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Modificar
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            162577972
                                        </td>
                                        <td>
                                            ARANCIBIA DIAZ JAIME IGNACIO
                                        </td>
                                        <td>
                                            jaimeignacio.diaz@ufrontera.cl
                                        </td>
                                        <td>
                                            <button class="btn btn-link btn-xs">
                                                <img src="https://img.icons8.com/color/24/000000/settings.png">
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-3"> </div>
                        <div class="col-3"> </div>
                        <div class="col-3"> </div>
                        <div class="col-3">
                            <button class="btn btn-info btn-sm">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>