<!--HTML para listar profesores del sistema-->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row align-items-center">
                            <div class="col-md-11">
                                <h4 class="card-title">Profesores</h4>
                            </div>
                            <div class="col-md-1">
                                <a [routerLink]="['alumno-new']">
                                    <!--Boton para agregar nuevos profesores-->
                                    <button type="button" class="btn btn-circle btn-white">➕</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-info">
                                    <th>
                                        Run
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Modificar
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            162577972
                                        </td>
                                        <td>
                                            ARANCIBIA DIAZ JAIME IGNACIO
                                        </td>
                                        <td>
                                            jaimeignacio.diaz@ufrontera.cl
                                        </td>
                                        <td>
                                            <a [routerLink]="['profesor-edit']">
                                                <button class="btn btn-link btn-xs">
                                                    <img src="https://img.icons8.com/color/24/000000/settings.png">
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>